<!DOCTYPE html>
<html>
{% set edit_mode = ref is defined %}
<head>
  {% if edit_mode %}
  <title>Edit reference</title>
  {% else %}
  <title>New reference</title>
  {% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='compiled.css') }}">
  <script src="{{ url_for('static', filename='add_reference_form.js') }}"></script>
</head>

<body>
  <div class="main-container">
    {% if edit_mode %}
    <h1>Edit reference</h1>
    {% else %}
    <h1>New reference</h1>
    {% endif %}
    <form action="{{"/update_reference" if edit_mode else "/create_reference"}}" method="post" class="add_reference" rtype="{{ref["type"] if edit_mode else ""}}">
      <div required>
        <span>Title</span>
        <input type="text" name="title" minlength="1" maxlength="64" value="{{ref["title"] if edit_mode else ""}}" required />
      </div>
      {% if not edit_mode %}      
      <div required>
        <span>Reference type</span>
        <select name="type" required onchange="handle_reftype()">
          <option disabled selected value>Select a type</option>
          <option value="book">Book</option>
          <option value="article">Article</option>
          <option value="misc">Misc</option>
          <option value="inproceedings">inproceedings</option>
        </select>
      </div>
      {% else %}
        <input type="hidden" name="id" value="{{ ref["id"] }}">
      {% endif %}
      <div required>
        <span>Year</span>
        <input type="number" min="868" max="2099" step="1" value="2025" name="year" value="{{ref["year"] if edit_mode else ""}}" required />
      </div>
      <div required>
        <span>Authors (separated by comma)</span>
        <input type="text" name="author" minlength="3" value="{{ref["author"] if edit_mode else ""}}" required />
      </div>
      <div required>
        <span>Index</span>
        <div>
          <input type="text" name="index" minlength="3" value="{{ref["index"] if edit_mode else ""}}" required />
          <button type="button" class="input-button" onclick="generate_index_request()" class="small-button">Auto</button>
        </div>
      </div>

      <div required class="inproceedings type-specific">
        <span>Booktitle</span>
        <input type="text" name="booktitle" minlength="3" value="{{ref["booktitle"] if edit_mode else ""}}" />
      </div>


      <div class="book inproceedings type-specific">
        <span>Publisher</span>
        <input type="text" name="publisher" value="{{ref["publisher"] if edit_mode else ""}}" />
      </div>

      <div class="inproceedings book type-specific">
        <span>Organization</span>
        <input type="text" name="organization" value="{{ref["organization"] if edit_mode else ""}}" />
      </div>


      <div class="article type-specific">
        <span>Journal</span>
        <input type="text" name="journal" value="{{ref["journal"] if edit_mode else ""}}" />
      </div>

      <div class="book type-specific">
        <span>ISBN</span>
        <input type="text" name="isbn" value="{{ref["isbn"] if edit_mode else ""}}" />
      </div>

      <div class="article book type-specific">
        <span>DOI</span>
        <input type="text" name="doi" value="{{ref["doi"] if edit_mode else ""}}" />
      </div>

      <div>
        <span>URL</span>
        <input type="text" name="url" value="{{ref["uri"] if edit_mode else ""}}" />
      </div>

      <div class="action-button">
        <input type="submit" value="{{"Save" if edit_mode else "Create reference"}}" class="primary-button" />
        <a class="secondary-button" href="/">Back to Main Page</a>
      </div>
    </form>
  </div>
</body>

</html>