.login {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    max-width: 20rem;

    input[type="submit"]{
        margin-top: 1rem;
    }
}

form.add_reference[rtype="article"] > .type-specific.article{
    display: block;
    visibility: visible;
}

form.add_reference[rtype="book"] > .type-specific.book{
    display: block;
    visibility: visible;
}

form.add_reference > .type-specific{
    display: none;
    visibility: hidden;
}