.login {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    max-width: 20rem;

    input[type="submit"]{
        margin-top: 1rem;
    }
}

form.add_reference[rtype="article"] > .type-specific.article{
    display: flex;
    visibility: visible;
}

form.add_reference[rtype="book"] > .type-specific.book{
    display: flex;
    visibility: visible;
}

form.add_reference > .type-specific:not(.action-button){
    display: none;
    visibility: hidden;
}

form.add_reference[rtype="inproceedings"] > .type-specific.inproceedings{
    display: flex;
    visibility: visible;
}